.lds-css {
  margin: 50px auto;
}

@keyframes ldio-ad2lqb93n6u {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-ad2lqb93n6u div {
  position: absolute;
  width: 67px;
  height: 67px;
  border: 9px solid #F89F46;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-ad2lqb93n6u div {
  animation: ldio-ad2lqb93n6u 1s linear infinite;
  top: 50px;
  left: 50px
}
.loadingio-spinner-rolling-xbt0tzamz4 {
  width: 64px;
  height: 64px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-ad2lqb93n6u {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.64);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
