@font-face {
  font-family: "CenturyGothicRegular";
  src: url("../font/CenturyGothic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "CenturyGothicBold";
  src: url("../font/Century Gothic Bold.ttf");
  font-display: swap;
}